#main-menu {
    color: #f00;
}

nav {
    
    margin: -5.8em 0 0 0;
    
    
}

.logo-img {
    
    display: flex;
    
}

.wide-img {}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    line-height: 4.5em;
    margin: 0;
    margin-left: 5.5em;
}

nav li {
    flex: 1 0 6.5em;
}

nav a {
    padding: .85em;
}

h1 {
    font-family: sans-serif;
    margin: 2em;
}

nav {
    text-emphasis-color: black;
}

p {
    color: black;
    text-align: center;
    margin-left: auto;
    font-family: sans-serif;
}

h1 {
    
    text-align: center;
    
}

.Relax {
    background-color: #124EC5;
    text-decoration: underline;
    text-align: center;
}

body {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

.content-img {
    width: 420px;
    margin-left: 10px;
    margin-right: 10px;
}

#top-row {
    display: flex;
    align-items: center;
    padding: 30px 30px 40px 60px;
    
}

#middle-row {
    display: flex;
    align-items: center;
    
    
    
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}

footer {
    display: flex;
    align-items: center;
     flex-flow: row wrap;
    justify-content: space-between;
}

#bottom-nav {
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    
   
}

#bottom-nav li {
    
    
    
}

.facebook {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.google {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.youtube {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main-menu {
    font-size: 1.2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: lightgray;
    margin-top: inherit;
    
    
}


.home {}

.rivers {}

.faq {}

.rates-dates {}

.contact-us {}